body{
	margin:0;
}
header{}
.logo{
	padding:4%; 
	background:blue; 
	width:35%; 
	float:left;
}
.email{
	padding:4%; 
	background:green; 
	width:35%; 
	float:left;
}
nav{
	background:red;
}
nav ul{
	margin:5px;
}
nav ul li{
	list-style:none;
	float:left;
	margin:0.5%;
	padding:1%;
	background:yellow;
}
nav ul li a{
	text-decoration: none;
	display:block;
	width:100%;
}
nav ul li:hover{
	background:lightgreen;
}
section{}
section div:first-child{
	padding:4%;
	background:blue;
	width:17%;
	float:left;
}
section div:nth-child(2){
	padding:4%;
	background:green;
	width:53%;
	float:left;
}
section{}
footer{
	padding:4%;
	background:yellow;
	margin-top:0.5%;
	width:78%;
}
