body{
	margin:0;
}
.header{
	background-color: green;
	text-align:center;
	color: white;
	padding:5px;
}
.main{
	background-color: red;
	text-align:center;
	padding:5px;
}
.footer{
	background-color: green;
	text-align:center;
	font-size:24px;
	color:white;
	padding:5px;
}